[Unit]
Description=A RuuviTag -> Rasp -> external HA
Documentation=https://github.com/Hotzilla/ruuvi-bridge-to-external-ha
After=syslog.target network.target

[Service]
ExecStart=/usr/local/bin/node /home/pi/test/main.js
WorkingDirectory=/home/pi/test/
User=root
Group=root
Nice=10
SyslogIdentifier=ruuvi-bridge-to-external-ha
StandardOutput=syslog
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target